# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/

# Ignore environment files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and other unnecessary files
*.log

# Ignore editor folders
.vscode/
.idea/
